@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
 font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-size: 25px;
  font-weight: normal;
}

p {
  font-size: 15px;
}

button {
  width: 150px;
  height: 40px;
  background-color: #159F9E;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

form > * {
  width: 230px;
  height: 40px;
  font-size: 15px;
}

input {
  background-color: #F4F4F4;
  padding-left: 20px;
  border: 1px solid #8F8E8B;
}

.submit {
  width: 100%;
  height: 40px;
  background-color: #159F9E;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 60px;
}

.company-name {
  font-weight: 600;
  margin-left: 25px;
}

.sign-up {
  color: #159F9E;
  margin-right: 25px;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1C1C1C;
  color: #FFFFFF;
  height: 720px;
}

.first-section > * {
  margin: 0 30px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  height: 300px;
}

.third-section {
  display: flex;
  flex-direction: column;
  height: 2072.5px;
}

.third-section > * {
  margin: 100px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 560px;
  height: 560px;
  background-color: #8F8E8B;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 262.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-icon {
  align-self: flex-end;
  margin-top: -15px;
  margin-right: -10px;
}


@media only screen and (max-width: 667px){
  h1 {
    font-size: 30px;
    font-weight: normal;
  }

  h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px !important;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-size: 13px;
  }

  .first-section {
    height: 550px;
    justify-content: unset;
    align-items: center;
  }

  .first-section > h1 {
    width: 160px !important;
    margin-top: 100px;
  }

  .panel {
    height: 212.5px;
  }

  .panel > p {
    width: 80% !important;
  }

  .third-section {
    height: 1550px;
  }

  .sub-section:first-child {
    flex-direction: column-reverse;
    margin: 0 !important;
  }

  .sub-section:last-child {
    flex-direction: column-reverse;
    margin: 0 !important;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }

  .box {
    width: 100vw;
    height: 350px;
  }

  .sub-section-text {
    text-align: center;
    height: 160px;
    margin: 0 !important;
  }

  .sub-section-text > p {
    width: auto !important;
  }

  .modal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }

  .close-icon {
    margin: 5px 0;
  }
}
